*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #010758, #490d61);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container select{
    width:250px;
    height:30px;
    border-radius: 5px;
    font-size: 0.8rem;
    padding: 0 20px;
}